<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instance Segmentation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Instance Segmentation App</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Submit</button>
    </form>
    {% if result_image is defined %}
        <h2>Result:</h2>
        <img src="data:image/png;base64,{{ result_image | b64encode }}" alt="Result Image">
    {% endif %}
  
</body>
</html>
